.signup {
    background-color: #000;
    color: var(--col-light);

    .wpcf7 input[type=submit] {
        min-width: auto;
        background-color: var(--col-blue-400);
        color: var(--col-light);
        padding-top: 8px;
        padding-bottom: 5px;
        height: 42px;
    }
    input[type=email] {
        border-radius: 0;
        height: 42px;
    }
    .wpcf7-spinner {
        display: none;
    }
}