.bg--primary {
    background-color: var(--col-primary);
}
.bg--grey-200 {
    background-color: var(--col-grey-200);
}
.bg--grey-800 {
    background-color: var(--col-grey-800);
}

.text-highlight {
    color: var(--col-highlight-400);
}

.text-primary-900 {
    color: var(--col-primary-900);
}

.bg-red {
    background-color: var(--col-red-400);
    color: white;
}
.bg-blue {
    background-color: var(--col-blue-400);
    color: white;
}