.navbar {
    background-color: var(--col-primary);
    border-bottom: 2px solid var(--col-red-400);
    position: sticky;
    top: 0;
    z-index: 9999;
    .nav-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        flex-direction: column;
        margin-top: 1rem;
        @media (min-width:992px) {
            margin-top: 0;
            flex-direction: row;
        }
    }
    .btn {
        font-size: var(--fs-300);
        padding-top: 0.375rem;
        min-width: 100%;

        @media (min-width:992px) {
            min-width: 140px;
        }
    }
    .nav-link {
        font-family: var(--ff-headlines);
        font-weight: var(--fw-900);
        color: var(--col-light);
        text-transform: uppercase;
        &:hover {
            color: var(--col-red-400);
        }
    }

    .navbar-toggler {
        i {
            color: var(--col-light);
        }
    }

    a[aria-current="page"] {
        color: var(--col-blue-400);
    }

    @media (max-width:991px) {
        #main-menu {
            margin-top: 0.5rem;
            text-align: center;
            font-size: var(--fs-500);
        }
    }
}