/* poster gothic excond atf light - latin */
@font-face {
    font-display: swap;
    font-family: 'Poster Gothic ExCond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poster-gothic-excond-atf-400.woff2') format('woff2');
}
/* poster gothic excond atf bold - latin */
@font-face {
    font-display: swap;
    font-family: 'Poster Gothic ExCond';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poster-gothic-excond-atf-700.woff2') format('woff2');
}
/* urw din light - latin */
@font-face {
    font-display: swap;
    font-family: 'URW DIN';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/urw-din-arabic-300.woff2') format('woff2');
}
/* urw din regular - latin */
@font-face {
    font-display: swap;
    font-family: 'URW DIN';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/urw-din-arabic-regular.woff2') format('woff2');
}

html {
    // font-size: var(--fs-400);
    font-size: 18px;
}

body {
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: var(--col-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.headline {
    font-family: var(--ff-headlines);
    font-weight: var(--fw-900);
    font-style: normal;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h99 {
    font-family: var(--ff-headlines);
    font-weight: var(--fw-900);
    font-style: normal;
    margin-bottom: 1rem;
    font-size: var(--fs-400);
    span {
        color: var(--col-primary);
    }
}


.h1 {
    font-size: var(--fs-900); //2.2rem;
}

.h2 {
    font-size: var(--fs-700); //1.8rem;
}

.h3 {
    font-size: var(--fs-600); //1.4rem;
}

.h4 {
    font-size: var(--fs-500);
}

.font-size-base {
    font-size: 1rem;
}

.fw-600 {
    font-weight: var(--fw-600) !important;
}

strong {
    font-weight: bold;
}

sup {
    font-size: 60%;
}
.larger {
    font-size: 1.25em;
}
.smaller {
    font-size: 0.75em;
}

.max-ch {
    max-width: 90ch;
    margin-right: auto;
}

.pretitle {
    font-weight: var(--fw-600);
    letter-spacing: calc( var(--fs-400) / 3 );
    text-transform: uppercase;
}

::selection {
    background-color: var(--col-highlight);
    color: var(--col-primary-900);
}
